$ORIGIN example.com.
$TTL    5
@       IN      SOA     example.com.          nodo1.example.com (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                              5 )       ; Negative Cache TTL
;
@               IN              NS      nodo1
nodo1           IN              A       10.0.0.5
nodo2           IN              A       10.0.0.6
drupal          IN              CNAME   nodo2
postgres        IN              CNAME   nodo1

